body {
  background: white;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  a:link,
  a:visited,
  a:hover,
  a:hover {
    text-decoration: none;
  }
  .card {
    width: 500px;
  }
  @media only screen and (max-width: 600px) {
    body .card {
      width: 200px;
    }
    body .dashboard .card {
      width: 200px;
    }
  }
  .user-icon {
    width: 50px;
    display: inline-block;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right:10px;
    background-image: url("./images/avatar.jpg");
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .justify-flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .margin {
    margin:10px;
  }

  .dashboard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .card {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 500px;
      .question {
        text-align: center;
        font-size: 25px;
      }

      .user-q-info {
        margin: 0;
        padding: 0;
      }
    }
  }
}
